@import '../../Core/Styles/index';

$c: '.c-title-image-hero';

#{$c} {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  position: relative;

  @include bp(medium) {
    height: 660px;
    padding-top: 60px;
  }

  &__main {
    width: 90%;
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    z-index: 1;

    @include bp(medium) {
      width: 85%;
    }
  }

  &__heading {
    width: 100%;
    height: fit-content;
    font-size: 31px;

    @include bp(medium) {
      width: 80%;
      max-width: 530px;
      padding-top: 60px;
      font-size: 67px;
    }
  }

  &__subheading {
      width: 100%;
      height: fit-content;
    padding-top: 30px;

      @include bp(medium) {
        width: 80%;
        max-width: 530px;
      }
    }

  &__background-image {
    width: 100%;
    height: auto;

    @include bp(medium) {
      width: 87%;
      position: absolute;
      right: 0;
      bottom: 20px;
    }

    @include bp(large) {
      width: 76%;
    }
  }
}