@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Book.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-BookItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-LightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Reckless Neue';
  src: url('/static/fonts/RecklessNeue-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert';
  src: url('/static/fonts/Roobert-LightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}