@import './breakpoints';

// Colors
$color__canvas: #fdf0e8;
$color__gold: #ffdd70;
$color__yellow: #fee278;
$color__blue: #17d1ff;
$color__orange: #ff8364;
$color__green: #05e480;
$color__darkgreen: #04b666;
$color__darkgray1: #595c5c;
$color__darkgray2: #3d3d3d;
$color__darkgray3: #1f1f1f;
$color__mediumgray1: #b5b5b5;
$color__mediumgray2: #969696;
$color__mediumgray3: #787878;
$color__mediumgray4: #666666;
$color__lightgray1: #fbfbfb;
$color__lightgray2: #f1f2f2;
$color__lightgray3: #cccccc;
$color__concrete: #c8b9af;
$color__black: #000000;
$color__white: #ffffff;

// Fonts
$font__reckless: 'Reckless Neue', sans-serif;
$font__roobert: 'Roobert', sans-serif;