@import '../../Core/Styles/index';

.c-legal__main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.c-legal__inner {
  max-width: 760px;
  width: 100%;

  @include bp-down(medium) {
    max-width: 90%;
  }
}

.c-legal__hero-main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;

  @include bp-down(medium) {
    padding-bottom: 60px;
  }
}

.c-legal__hero-title {
  font-family: $font__reckless;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2.5px;
  text-align: center;
  padding-bottom: 40px;

  @include bp-down(medium) {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 40px;
    margin-top: 50px;
  }
}

.c-legal__hero-last-updated-date {
  font-family: $font__reckless;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: .75px;

  @include bp-down(medium) {
    font-size: 12px;
  }
}
